# Ignore everything
*

# Except necessary files
!mox-astro.inform/
!mox-astro.inform/Source/
!mox-astro.inform/Source/story.ni
!mox-astro.materials/
!mox-astro.materials/Cover.jpg
!mox-astro.materials/Small Cover.jpg
!docs/
!docs/**

# Need to explicitly exclude this one
docs/.DS_Store

!README.md
!LICENSE.txt


!.gitignore