# Ignore everything
*

# Except the story.ni file
!mox-astro.inform/
!mox-astro.inform/Source/
!mox-astro.inform/Source/story.ni
!mox-astro.materials/
!mox-astro.materials/Cover.jpg
!mox-astro.materials/Small Cover.jpg
!docs/
!docs/**

!.gitignore